<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <!--
        Инициализация Jersey
        Непонятно: com.sun.jersey.spi.container.servlet.ServletContainer
        TODO возможно, он недоступен в более поздних версиях jersey, так что нужно искать современные
        TODO методы работы с ним
    -->
    <servlet>
        <servlet-name>Jersey REST</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <!--
                org.codehaus.jackson.jaxrs добавлено, т.к. мы хотим использовать jackson реализацию JSON serializator:
                в частности, она корректно отдает List из одного элемента
            -->
            <param-name>com.sun.jersey.config.property.packages;org.codehaus.jackson.jaxrs</param-name>
            <param-value>com.syamka.rest</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey REST</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <!--
        Фильтр для Open Session In View - поддержки соединения (EM) на сессию.
        TODO понять, как с помощью MAVEN разнести конфигурации и включать/выключать его
    -->
    <filter>
        <filter-name>interceptor</filter-name>
        <filter-class>com.syamka.filter.PersistenceFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>interceptor</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>


</web-app>
